<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 
    <!-- Enable autowire -->
    <context:annotation-config />
    <context:component-scan base-package="edu.upc.taller" />
 
    <mvc:annotation-driven />
 
    <mvc:resources mapping="/resources/**" location="/resources/" />
   
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/dbAtiempo" />
        <property name="username" value="postgres" />
        <property name="password" value="Pass2015" />
        <property name="url" value="jdbc:postgresql://ec2-174-129-236-147.compute-1.amazonaws.com:5432/dalll0s6n515qi" />
        <property name="username" value="nkovuhuapjnkjr" />
        <property name="password" value="e4f4b5592141745ca5bd0f68dbf41b0b2e6902df9a7f40cd91c376dd93cb94c3" />
    </bean>
 
    <!-- Session Factory Declaration -->
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="edu.upc.taller.modelo" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <prop key="hibernate.default_schema">public</prop>
                <prop key="format_sql">true</prop>
                <prop key="use_sql_comments">true</prop>
<!--                 <prop key="hibernate.hbm2ddl.auto">create</prop> -->
            </props>
        </property>
    </bean>
 
    <tx:annotation-driven transaction-manager="transactionManager" />
 
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    </beans>